@import '../.././index.scss';
.ss_message{
  
      .ss_title{
          span {    
            padding-left:40px;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            color: #fff;
            float: left;
            font-family: Harrington;   
            background-color: #091724;
          }
          .ss_content{
            width: 200px;
            position: relative;
            right: 0px;
            text-align: center;
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            color: #fff;
            // float: left;
            font-family: Harrington; 
            border: 1px solid rgb(5, 131, 248) ;
            padding-right:40px;
           
            
                    
          }
        }

  }