.warring_message{
   padding-top: 35px;
  .warring_title{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-family: Harrington;    
    background-color: #041b45;
    text-align:center;
    margin-bottom: 20px;
  }
  .warring_card{
    p{
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      color: #fff;
      margin-bottom: -0px;
      text-align:center;
    }
      
  }
}